28th JULY

In [ ]:
Introduction

In [1]:
#pyton challenge

In [3]:
print(3 + 2) #addition (+)

5

In [4]:
print(3 - 2) #subtraction (-)

1

In [5]:
print(3 * 2) #multiplication (*)

6

In [6]:
print(3 / 2) #division(/)

1.5

In [7]:
print(3 ** 2) #exponintial(**)

9

In [8]:
print(3 // 2) #floor division(//)

1

In [9]:
print(3 % 2) #modulus(%)

1

Checking Data Type

In [10]:
print(type(5))

<class 'int'>

In [11]:
print(type(5.6))

<class 'float'>

In [12]:
print(type(2 + 4j))

<class 'complex'>

In [13]:
print(type('Python programming'))

<class 'str'>

In [14]:
print(type({1,2,3}))

<class 'set'>

In [15]:
print(type([1,2,3]))

<class 'list'>

In [16]:
print(type((1,2,3)))

<class 'tuple'>

In [21]:
print(type({'a':1,'b':2,'c':3}))

<class 'dict'>

In [22]:
print(type(2 == 2))

<class 'bool'>

In [24]:
print(type(2 <= 4))

<class 'bool'>

28th JULY 
===== Arithmatic Operations in Python ======

In [25]:
print('Addition=',1 + 2)

Addition= 3

In [27]:
print('Subtraction=',15 - 6)

Subtraction= 9

In [28]:
print('multiplaction=',5 * 9)

multiplaction= 45

In [29]:
print('division=',4 / 2) #Division in python gives floating number

division= 2.0

In [30]:
print('Division=', 5 / 2)

Division= 2.5

In [32]:
print('Division without remainder=', 5 // 2) #gives without the floating number
#Gives number without decimal

Division without remainder= 2

In [33]:
a=5 // 2
type(a)

int

In [34]:
print('floor division=', 7 // 2) #floor division gives int value

floor division= 3

In [35]:
print('modulus=',26 % 5) #Gives remainder

modulus= 1

In [36]:
print('Exponential=', 5 ** 3) # it means 5 to the power 3 or 5 raise to 3

Exponential= 125

In [38]:
print('Floating Number,PI=',3.14)

Floating Number,PI= 3.14

In [39]:
print('Floating Number,gravity=',9.81)

Floating Number,gravity= 9.81

In [40]:
#Complex number

In [41]:
print('Complex nuumber : ',1 +5j)

Complex nuumber :  (1+5j)

In [48]:
print('multiplying complex numbers=',(1 + 1j) * (1 -1j))

multiplying complex numbers= (2+0j)

In [49]:
#Declaring variable at the top first

In [53]:
a = 3 #a ia a variable name and 3 is the integer data type
b = 2 #b is variable name and 2 is the integer data type

#Arthematic operations and assigning the result to a variable
total = a + b
diff = a - b
product = a * b
division = a / b
remainder = a % b
floor_division = a // b
exponential = a ** b

# I should have used sum instead of total but sum ia a built in function try to avoid overriding builtin functions
print(total) # if you dont label your print with some string,you never know from where the result is coming
print('a + b = ',total)
print('a - b = ',diff)
print('a * b =',product)
print('a / b =',division)
print('a % b = ',remainder)
print('a // b = ',floor_division)
print('a ** b = ',exponential)

5
a + b =  5
a - b =  1
a * b = 6
a / b = 1.5
a % b =  1
a // b =  1
a ** b =  9

In [55]:
# declaring values and organising them together
num_one = 3
num_two = 5

#Arithmetic operations
total = num_one + num_two
diff = num_two - num_one
product= num_one * num_two
division = num_one / num_two
remaimder = num_one % num_two
floor = num_one // num_two
expo = num_one ** num_two

#Printing values with label
print('total=',total)
print('difference=',diff)
print('multiplication=',product)
print('division=',division)
print('remainder=',remainder)
print('floor division=',floor)
print('exponentail=',expo)

total= 8
difference= 2
multiplication= 15
division= 0.6
remainder= 1
floor division= 0
exponentail= 243

In [57]:
#Calculating area of circle 
radius =10  #radius of circle 
area_of_circle = 3.14 * radius ** 2 #two * sign means exponential or power
print('Area of circle=',area_of_circle)

Area of circle= 314.0

In [58]:
#calculating area of rectangle 
length = 10
width = 20
area_of_rectangle = length * width
print('Area of rectangle=',area_of_rectangle)

Area of rectangle= 200

In [61]:
#calculating a weight of an object
mass = 75
gravity = 9.81
weight = mass * gravity
print('weight=',weight ,'N')

weight= 735.75 N

In [64]:
print(3 > 2) #True, because 3 is greater than 2
print(3 < 2) #False, because 3 is greater than 2
print(3 <= 2) #False , because 3 is greater than 2
print(3 >= 2) #True,because 3 is greater than 2 
print(3 == 2) #False, because 3 is not equal to 2
print(3 != 2) #True, because 3 is not equal to 2

print(len('mango') == len('avacado'))
print(len('mango') != len('avacado'))
print(len('mango') < len('avacado'))
print(len('mango') > len('avacado'))
print(len('milk') == len('meat'))
print(len('milk') != len('meat'))
print(len('tomato') == len('potato'))

True
False
False
True
False
True
1= False
True
True
False
True
False
True

In [65]:
#boolean comparison
print('True == True:',True ==True)
print('False ==False:',False==False)
print('True == False: ',True == False)
print('True and True:',True and True)
print('False and False:',False and False)
print('True and False :',True and False)
print('True or True:',True or True)
print('False or False:',False or False)
print('True or False:',True or False)

True == True: True
False ==False: True
True == False:  False
True and True: True
False and False: False
True and False : False
True or True: True
False or False: False
True or False: True

In [67]:
#Another way of comparison

print('1 is 1:',1 is 1)
print('1 is not 1:',1 is not 1)
print('A in Aleem:','A' in 'Aleem')
print('L in Latur:', 'L' in 'Latur')
print('coding' in 'coding for all')
print('a in  an:', 'a' in 'an')
print('4 is 2:',4 is 2)

1 is 1: True
1 is not 1: False
A in Aleem: True
L in Latur: True
True
a in  an: True
4 is 2: False

In [68]:
print(3 > 2 and 4 > 3)
print(3 > 2 and 4 < 3)
print(3 < 2 and 4 < 3)
print(3 < 2 and 4 > 3)

True
False
False
False

In [69]:
print(3 > 2 or 4 > 3)
print(3 > 2 or 4 < 3)
print(3 < 2 or 4 < 3)
print(3 < 2 or 4 > 3)

True
True
False
True

In [70]:
print(not 3 > 2)

False

In [71]:
print(not True)
print(not False)
print(not not True)
print(not not False)

False
True
True
False

==== Variables in python  =======

In [72]:
first_name = 'ALEEM'
last_name = 'SHAIKH'
country = 'INDIA'
city = 'LATUR'
age = 21
is_married = False
skills=['HTML','CSS','PYTHON']
person_info = {
    'firstname' : 'Asabeneh',
    'lastname' : 'Yetayeh',
    'country' : 'Finland',
    'city' : 'Helsinki'
    }

#printing the values stored in the variables

print('First name:',first_name)
print('length of first name:',len(first_name))
print('Last name:',last_name)
print('length of last name:',len(last_name))
print('Country:',country)
print('Age:',age)
print('Married:',is_married)
print('skills:',skills)
print('Person information:',person_info)

First name: ALEEM
length of first name: 5
Last name: SHAIKH
length of last name: 6
Country: INDIA
Age: 21
Married: False
skills: ['HTML', 'CSS', 'PYTHON']
Person information: {'firstname': 'Asabeneh', 'lastname': 'Yetayeh', 'country': 'Finland', 'city': 'Helsinki'}

In [74]:
#Declaring multiple variable in one line

first_name,last_name,country,age,is_married = 'Aleem','Shaikh','INDIA',21,False


print(first_name,last_name,country,age,is_married)
print('First name;',first_name)
print('Last name:',last_name)
print('Country;',country)
print('Age;',age)
print('Married:',is_married)

Aleem Shaikh INDIA 21 False
First name; Aleem
Last name: Shaikh
Country; INDIA
Age; 21
Married: False

In [ ]:
name