29th july

STRING

In [3]:
#Sinle line comment

letter = 'P' #A string can be asingle letter or a bunch of text
print(letter)
print(len(letter))
greeting = 'hello, World!'#string can be a sinngle or double quotes "hello world"
print(greeting)
print(len(greeting))
sentence = "I hope you are enjoying 30days of python challenge"
print(sentence)

P
1
hello, World!
13
I hope you are enjoying 30days of python challenge

In [4]:
#Multiline string

multiline_string = '''I am learning python programming .
It is a dynamic programming language , easy to use ,open source,
and it interpret its code line by line .'''
print(multiline_string)

I am learning python programming .
It is a dynamic programming language , easy to use ,open source,
and it interpret its code line by line .

In [5]:
#Another way of multiline string
multiline_string = """I am learning python programming .
It is a dynamic programming language , easy to use ,open source,
and it interpret its code line by line ."""
print(multiline_string)

I am learning python programming .
It is a dynamic programming language , easy to use ,open source,
and it interpret its code line by line .

In [6]:
#String concatination

first_name = 'Aleem'
last_name = 'Shaikh'
space = ' '
full_name = first_name + space + last_name
print(full_name)
#checking the length of string
print(len(first_name))
print(len(last_name))
print(len(space))
print(len(full_name))
print(len(first_name) > len(last_name))

Aleem Shaikh
5
6
1
12
False

In [10]:
#Unpacking characters
language = 'Python'
a,b,c,d,e,f = language
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

P
y
t
h
o
n

In [14]:
#Accessing charcters in string by index
language = 'Python'
first_letter = language[0]
print(first_letter)
second_letter = language[1]
print(second_letter)
last_index=len(language) - 1
last_letter=language[last_index]
print(last_letter)

P
y
n

In [15]:
#If we want to start fron right side then we can use negative indexing, -1 is the last index
language = 'Python'
last_letter = language[-1]
print(last_letter)
second_last = language[-2]
print(second_last)

n
o

In [16]:
#Slicing

language ='Python'
first_three = language[0:3]
print(first_three)
last_three = language[3:]
print(last_three)
#Another way
last_three = language[-3:]
print(last_three)
last_three =language[3:6]
print(last_three)

Pyt
hon
hon
hon

In [17]:
#skipping character while splitting Python string
language = 'Python'
after_skip = language[0:6:2]
print(after_skip)

Pto

In [30]:
#Escape sequence
print('I hope every one enjoying the python challenge.\nDo you?') #line break
print('Day \tTopic\tExercises')
print('Day 1\t3\t5')
print('Day 2\t3\t5')
print('Day 3\t3\t5')
print('Day 4\t3\t5')
print('This ia aback slash symbol (\\)')
print('In evert programming language it syart with \"hello world\"')

I hope every one enjoying the python challenge.
Do you?
Day 	Topic	Exercises
Day 1	3	5
Day 2	3	5
Day 3	3	5
Day 4	3	5
This ia aback slash symbol (\)
In evert programming language it syart with \"hello world"

In [31]:
#String Methods
#capitalize(): Convert the first letter of the string to capital letter 

sen = 'thirty days of python'
sen.capitalize()

'Thirty days of python'

In [35]:
#count() : Returns coccurance of substring in string ,count(substring,start=..,end=..)

sen = 'thirty days of python'
print(sen.count('y'))
print(sen.count('y',7,14)) # count numbers of y from index 7 to 14 but not inluding 14
print(sen.count('of'))

3
1
1

In [37]:
#endswith():check if astring ends with a specified ending
sen = 'thirty days of python'
print(sen.endswith('on'))
print(sen.endswith('tion'))

True
False

In [42]:
#expandtabs(): Replaces tab characters with spaces, default tab size is 8.It takes tab size argument

sen ='thirty\tdays\tof\tpython'
print(sen)
print(sen.expandtabs())
print(sen.expandtabs(50))

thirty	days	of	python
thirty  days    of      python
thirty                                            days                                              of                                                python

In [43]:
#find(): Returns the index of first occurrence of substring

sen = 'thirty days of python'
print(sen.find('y'))
print(sen.find('th'))
print(sen.find('d'))

5
0
7

In [46]:
#format(): Format string into nicer output
first_name = 'Aleem'
last_name = 'Shaikh'
job = 'Data scientist'
country ='India'
sen = 'I am {} {}. I am a {}.I live in {}.'.format(first_name,last_name,job,country)
print(sen)

I am Aleem Shaikh. I am a Data scientist.I live in India.

In [48]:
radius = 10
pi = 3.14
area = pi * radius ** 2
result ='The area of circle with {} is {}.'.format(str(radius),str(area))
print(result)

The area of circle with 10 is 314.0.

In [1]:
#isalnum(): Checks alphanumeric character

sen = 'thirty days of python '
print(sen.isalnum())
sen = '30daysofpython'
print(sen.isalnum())
sen = 'thirtydaysofpython'
print(sen.isalnum())
sen = 'thirty days of python 2025'
print(sen.isalnum())

False
True
True
False

In [5]:
#isalpha (): check if all character are alphabates

sen = 'thirty days of python' #spaces are not the charecters therefore false value
print(sen.isalpha())
sen = '123'
print(sen.isalpha())
sen = 'thirtydaysofpython'
print(sen.isalpha())

False
False
True

In [11]:
#==================================================
#isdecimal(): Checks decimal characters

sen = 'thirty days of python '
print(sen.isdecimal())
num = 'ntp.nm'
print(num.isdecimal())
num = '1.23'
print(num.isdecimal())
#===================================================

False
False
False

In [14]:
#isdentifier() : checks for valid identifier means it check if a string is a valid variable name

sen = '30daysofoython'
print(sen.isidentifier())
sen = 'thirty days of python'
print(sen.isidentifier())
sen = 'thirtydaysofpython'
print(sen.isidentifier())

False
False
True

In [16]:
#islower(): Check if all alphabets in a string are  lower
sen = 'thirty days of python '
print(sen.islower())
sen = 'Thirty dayys of python'
print(sen.islower())

True
False

In [17]:
#isupper(): check all the charecters are upper

sen = 'thirty days of python '
print(sen.isupper())
sen = 'THIRTY DAYS OF PYTHON'
print(sen.isupper())

False
True

In [2]:
#isnumeric(): checks numeric characters

num = '10'
print(num.isnumeric())
num = 'ten'
print(num.isnumeric())

True
False

In [5]:
#join() :Return a concatenated string

web_tech = ['HTML','CSS','JAVASCRIPT','REACT']
result = '#, '.join(web_tech)
print(result)

HTML#, CSS#, JAVASCRIPT#, REACT

In [13]:
#strip (): Remove both leading and traning chracters

sen = 'thirty days of python'
print(sen.strip('d')) #no chnages in the string as "d" is not the leading or thrailing character
sen = 'thirty days of python'
print(sen.strip('t')) #leading character is removed
sen = 'thirty days of python'
print(sen.strip('n')) #trailing character is removed

thirty days of python
hirty days of python
thirty days of pytho

In [14]:
#replace(): repalce the substring inside 
sen = 'thirty days of python'
print(sen.replace('python','coding'))

thirty days of coding

In [15]:
#split ():Splits string from left

sen = 'thirty days of python'
print(sen.split())

['thirty', 'days', 'of', 'python']

In [16]:
#title() : returns title case string

sen = 'thirty days of python'
print(sen.title())

Thirty Days Of Python

In [18]:
#swapcase (): checks if the string start with the specified string

sen = 'thirty days of python'
print(sen.swapcase())
sen = 'Thirty Days Of Python'
print(sen.swapcase())
sen = 'THIRTY DAYS OF PYHTON'
print(sen.swapcase())

THIRTY DAYS OF PYTHON
tHIRTY dAYS oF pYTHON
thirty days of pyhton

In [19]:
#startwith(): checks if string starts with specified string
sen = 'thirty days of python'
print(sen.startswith('thirty'))
sen = '30 days of python'
print(sen.startswith('thirty'))

True
False