Function in python

In [1]:
def hello():
    print('good evening')

In [2]:
def hello():
    print('good evening')
    
hello()

good evening

In [3]:
def hello():
    print('good evening')
hello()

def hello():
    print('good evening')
hello()

def hello():
    print('good evening')
hello()

good evening
good evening
good evening

In [4]:
def hello():
    print('good evening')

hello()

hello()

hello()

hello()

good evening
good evening
good evening
good evening

In [5]:
def add(x,y):
    c=x+y
    print(c)
    
add(5,6)

11

In [ ]:
#this will create an eror as we are passing only 2 argument insted of 3
def add(x,y,z):
    c=x+y+z
    print(add)
    
add(5,6)

TypeError: add() missing 1 required positional argument: 'z'

In [7]:
def add(x,y):
    c=x+y
    return c

add(5,6)

11

In [8]:
def hello():
    print('good evening')
hello()

def add(x,y):
    c=x+y
    return c
add(5,6)

good evening

11

In [9]:
def hello():
    print('good evening')
    
def add(x,y):
    c=x+y
    return c

hello()
add(5,6)

good evening

11

In [12]:
def greet():
    print('hello')
    print('good evening')
    
def add(x,y):
    c=x+y
    print(c)

def sub(x,y,z):
    z=x-y-z
    return z

greet()
add(5,6)
sub(10,5,3)

hello
good evening
11

2

In [14]:
def add_sub(x,y):
    c=x+y
    d=x-y
    return c,d
add_sub(10,5)

(15, 5)

In [15]:
def add_sub(x,y):
    c=x+y
    d=x-y
    return c,d

result = add_sub(10,5)
print(result)
print(type(result))

(15, 5)
<class 'tuple'>

In [16]:
def add_sub(x,y):
    c=x+y
    d=x-y
    return c,d

result,result1 = add_sub(10,5)

print(result)
print(result1)

print(type(result))
print(type(result1))

15
5
<class 'int'>
<class 'int'>

In [17]:
def add_sub_mul(x,y):
    c=x+y
    d=x-y
    e=x*y
    return c,d,e
    
result,result1,result2 = add_sub_mul(10,5)

print(result)
print(result1)
print(result2)

print(type(result))
print(type(result1))
print(type(result2))

15
5
50
<class 'int'>
<class 'int'>
<class 'int'>

In [18]:
def update():
    x=8
    print(x)
    
update()

8

In [20]:
def add(a,b): #formal argument 
    c=a+b
    print(c)

add(5,6) #Actual argument

11

In [21]:
#positional argument

def person(name,age):
    print(name)
    print(age)
    
person('nit',25)

nit
25

In [22]:

def person(name,age):
    print(name)
    print(age)
    
person(25,'nit')

25
nit

In [23]:

def person(name,age):
    print(name)
    print(age-1)
    
person(25,'nit')

25

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [24]:

def person(name,age):
    print(name)
    print(age+1)
    
person('nit',25)

nit
26

In [25]:

def person(name,age):
    print(name)
    print(age)
    
person('nit')

TypeError: person() missing 1 required positional argument: 'age'

In [26]:

def person(name,age):
    print(name)
    print(age)
    
person(25)

TypeError: person() missing 1 required positional argument: 'age'

In [27]:

def person(name):
    print(name)
    print(age)
    
person(25,'nit')

TypeError: person() takes 1 positional argument but 2 were given

In [29]:

def person(name,age):
    print(name)
    print(age)
    
person('nit',25)

nit
25

In [30]:

def person(name,age):
    print(name)
    print(age)
    
person(age=25,name='nit',phone=22566)

TypeError: person() got an unexpected keyword argument 'phone'

In [32]:

def person(name,age,phone):
    print(name)
    print(age+1)
    print(phone)
    
person(age=25,name='nit',phone=22566)

nit
26
22566

In [33]:
#Variable length Argument

In [34]:
def add(x,y):
    c=x+y
    return c
add(5,6)

11

In [37]:
def sum(x,y):
    c=x+y
    return c
sum(2,5,6,8)

TypeError: sum() takes 2 positional arguments but 4 were given

In [38]:
def sum(x,*y):
    c=x+y
    return c
sum(2,5,6,8)

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

In [39]:
def sum(x,*y):
    print(x)
    print(y)
    print(type(x))
    print(type(y))
    
sum(4,6,8,9)

4
(6, 8, 9)
<class 'int'>
<class 'tuple'>

In [43]:
def sum(a,*b):
    c=a
    for i in b:
        c=c+i
    print(c)
        
sum(5,4,12,9,7)

37

In [44]:
def person():
    person('alex',36,'jhon',355223)

In [45]:
def person(name,*data):
    print(name)
    print(data)
    
person('alex',36,'jhon',355223)

alex
(36, 'jhon', 355223)

In [47]:
def person(name,*data):
    print(name)
    print(data)
    
person('alex',age=36,addr='jhon',mob=556565)

TypeError: person() got an unexpected keyword argument 'age'

In [48]:
def person(name,**data):
    print(name)
    print(data)
    
person('alex',age=36,addr='jhon',mob=556565)

alex
{'age': 36, 'addr': 'jhon', 'mob': 556565}

Global and local variable

In [49]:
a=10
print(a)

10

In [54]:
a=10

def some():
    b=15
    print('in function',b)
    print('out function',a)

In [55]:
a=10

def some():
    b=15
    print('in function',b)
    
print('out function',a)

out function 10

In [56]:
a=10

def some():
    a=15

print('in function',a)

print('out function',a)

in function 10
out function 10

In [61]:
a=10

def some():
    a=15
    print('in function',a)
    
some()
    
print('out function',a)

in function 15
out function 10

In [62]:
a=10
b=15

def some():
    b=25
    print('in function',b)
    
some()
print('out function',b)

in function 25
out function 15

In [63]:
a = 10

def some():
    global a
    b=15
    print('in function',b)
    print('global var',a)
    
some()
print('out function',a)

in function 15
global var 10
out function 10

In [64]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [68]:
x = 10

def update_x():
    global x
    x += 10
    
update_x()
print(x)

20

In [70]:
x = 10

def update_x():
    globals()['x'] += 20
    
update_x()
print(x)

30